# ===== 讯飞 ASR 配置 =====
XUNFEI_APPID=4f79af09
XUNFEI_API_KEY=c155516186fc41fdd83ebbefba48a91d
XUNFEI_API_SECRET=YTdlOTA4ODIxMTIxMjA1NGVmOWNmMzM0
XUNFEI_WS_URL=wss://iat.cn-huabei-1.xf-yun.com/v1

# ===== 阿里云百炼 LLM 配置 =====
LLM_API_KEY=sk-ws-H.PLPLYDY.cmZP.MEQCIHF9j5aOpdcOg20GzQMmoKf5wzpZUWgQ63T5xkqSRJ3FAiB6lgvmODEajWGIKJQMW65UGwkNMH4J3MCrmT092sB-dQ
LLM_BASE_URL=https://ws-h7cqylclyq1uator.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus

# ===== 音频配置 =====
AUDIO_SAMPLE_RATE=16000
AUDIO_CHANNELS=1
AUDIO_BIT_DEPTH=16
AUDIO_CHUNK_SECONDS=55

# ===== 输出配置 =====
OUTPUT_DIR=data/output
